# Copyright (c) 2017-2018,2020 The Linux Foundation. All rights reserved.
# Copyright (C) 2026 SebaUbuntu's TWRP device tree generator
#

import /init.recovery.qcom_decrypt.rc

# Sửa lại địa chỉ điều khiển USB Controller cho chip Snapdragon 8 Gen 2 (sm8550)
on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.usb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.usb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on early-fs
    write /proc/sys/kernel/sched_lib_name "recovery,magiskboot,Updater,updater,update_engine_sideload"
    write /proc/sys/kernel/sched_lib_mask_force 255

service post-boot-script /system/bin/sh -c /vendor/bin/init.kernel.post_boot-kalama_default_3_4_1.sh
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0

on fs
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    setprop sys.usb.configfs 1
    setprop prepdecrypt.setpatch true
    start vendor.boot-qti
    start vendor.gatekeeper-qti

on property:twrp.modules.loaded=true
    # Load ADSP firmware phục vụ quản lý nguồn PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    # Start health service sau khi ADSP đã boot và power_supply node đã sẵn sàng
    start vendor.health-default
    # Kích hoạt cổng sạc OTG đặc thù cho các dòng máy Oplus (Oppo/OnePlus)
    write /sys/class/oplus_chg/usb/otg_switch 1

on boot
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    umount /firmware

on post-fs
    # Đổi từ HAL cũ (boot-hal-1-2) sang dịch vụ điều khiển phân vùng AIDL mới của Android 16
    start android.hardware.boot-service.qcom-recovery
